# Python virtual environment
mon_env/
*/__pycache__/

# Fichiers systèmes
.DS_Store
.vscode/

# Fichiers de logs
nohup.out
*.log

# Fichiers volumineux
# *.ipynb_checkpoints/BD-221742.ipynb
scripts/BD-221742.ipynb

Turbospectrum_NLTE-master/